In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import os
from ydata_profiling import ProfileReport

In [2]:
df_y_positive = pd.read_excel('conclusion.xlsx')
df_y_positive.drop(df_y_positive.index[0:5], inplace=True)
df_y_positive.columns = df_y_positive.iloc[0]
df_y_positive.drop(df_y_positive.index[0], inplace=True)
print(df_y_positive.shape)
df_y_positive.head(15)

(899, 33)

5,Company,Custom-Return,EPS_MRQ_LC,EPS_TTM,EPS_MRQ,EPS_FY,Rev_TTM,Rev_MRQ,Rev_FY,NI_TTM,...,TL_FY,TSE_MRQ,TSE_FY,RE_MRQ,RE_FY,FE_TTM,FE_MRQ,FE_FY,NaN,Conclusion
6,بانک دی,-0.046138,-,-413,-133,-417,-30281289000000,-13494448000000,-35355440000000,-55701328000000,...,570519333000000,-42421089000000,437169000000,-173183986000000,-134821018000000,7986821000000,4155223000000,1144012000000,NaN,308.39565
7,بانک آینده,-,-,-18149,-9265,-18149,-158179073000000,118814001000000,-158179073000000,-290389501000000,...,4284162163000000,-1125286095000000,-1125286095000000,-1142159281000000,-1142159281000000,80437985000000,35221799000000,80437985000000,NaN,1.014995
8,سرمایه گذاری تامین اجتماعی,0.604888,-,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,57374675000000,1772130250000000,1995942460000000,24375426000000,253693287000000,16527967000000,8066030000000,11197821000000,NaN,11197821000000
9,س. توسعه و عمران استان کرمان,0.638978,-,3,-2,5,231712000000,-66270000000,340956000000,130311000000,...,495451000000,45327298000000,45731823000000,2369800000000,2767290000000,-,-,-,NaN,-
10,پارس خودرو,0.306068,-,-680,-253,-680,219806565000000,64460604000000,219806565000000,-77215884000000,...,184574893000000,-47398426000000,-47398426000000,-161033857000000,-161033857000000,4607902000000,1666914000000,4607902000000,NaN,3.397452
11,بانک ملت,0.60233,-,1274,623,1274,848773196000000,328218468000000,848773196000000,449560495000000,...,12872785940000000,1074240625000000,1074240625000000,552132386000000,552132386000000,27118535000000,6105034000000,27118535000000,NaN,27118535000000
12,سایپا,0.370958,-,-730,-539,-730,601276551000000,165255470000000,601276551000000,-142711019000000,...,937587998000000,-189125262000000,-189125262000000,-386126809000000,-386126809000000,44288670000000,11091967000000,44288670000000,NaN,2.041646
13,گروه مالی شهر,-,-,341,-,341,11694315000000,-,11694315000000,11248496000000,...,392471000000,49474628000000,49474628000000,12476996000000,12476996000000,133195000000,-,133195000000,NaN,133195000000
14,بیمه ملت,0.206575,-,68,38,68,21796730000000,3905733000000,20012506000000,2095057000000,...,64042463000000,36790158000000,36790158000000,3990434000000,3990434000000,-,-,-,NaN,-
15,بانک تجارت,0.064843,-,575,505,575,405862594000000,211745344000000,405862594000000,128776848000000,...,7157550020000000,438265883000000,438265883000000,130666679000000,130666679000000,5379047000000,1339370000000,5379047000000,NaN,5379047000000
16,ایران‌ خودرو,0.413678,-,-1057,-1061,-1057,1881503420000000,597231975000000,1881503420000000,-318763827000000,...,1312914154000000,-448982759000000,-448982759000000,-748644501000000,-748644501000000,45121506000000,6905911000000,45121506000000,NaN,1.667424
17,بیمه دانا,2.079592,-,3091,414,3076,75120004000000,18022227000000,69185721000000,60145550000000,...,195614873000000,55634172000000,47597325000000,31548911000000,24699471000000,-,-,-,NaN,-
18,کمک‌فنرایندامین‌,0.335494,-,80,1596,80,11638932000000,5220476000000,11638932000000,325172000000,...,4982715000000,4205627000000,4205627000000,125280000000,125280000000,23648000000,11475000000,23648000000,NaN,23648000000
19,گسترش‌سرمایه‌گذاری‌ایران‌خودرو,0.747037,-,39,21,39,2575111000000,1123239000000,2575111000000,1556072000000,...,6762135000000,65723106000000,65723106000000,9650495000000,9650495000000,458528000000,115856000000,458528000000,NaN,458528000000
20,بهساز کاشانه تهران,0.684725,-,789,109,696,30359636000000,3199241000000,27697485000000,15880053000000,...,19976909000000,39467919000000,37272909000000,17980787000000,15895528000000,51793000000,-,-,NaN,-

In [3]:
# read all excel files dir
fin_ratio_dir = 'financial_ratio'
fin_factors_dir = 'financial_factors'

df_ratio = pd.DataFrame()
df_factors = pd.DataFrame()

In [4]:
# for fl_ratio in os.listdir(fin_ratio_dir):
#     if fl_ratio.endswith('.xlsx'):
#         this_df_ratio = pd.read_excel(os.path.join(fin_ratio_dir, fl_ratio))
#         # drop last 2 cols
#         this_df_ratio = this_df_ratio.iloc[:, :-2]
#         # drop cols with all NaNs
#         this_df_ratio = this_df_ratio.dropna(axis=1, how='all')
#         # add fl_ratio.split(" ")[-1].split(".")[0] to all columns names after _ except for Company
#         this_df_ratio.columns = [col + "_" + fl_ratio.split(" ")[-1].split(".")[0] + '_ratio' if col != 'Company' else col for col in this_df_ratio.columns]
#         if df_ratio.empty:
#             df_ratio = this_df_ratio
#         else:
#             df_ratio = df_ratio.merge(this_df_ratio, on='Company', how='outer')
# print(df_ratio.shape)

In [5]:
# print Company col values repeated  more than 1
# df_ratio[df_ratio['Company'].duplicated(keep=False)]
# drop rows 
# df_ratio.drop_duplicates(subset=['Company'], keep=False, inplace=True)
# print(df_ratio.shape)

In [6]:
for fl_ratio in os.listdir(fin_ratio_dir):
    if fl_ratio.endswith('.xlsx'):
        this_df_ratio = pd.read_excel(os.path.join(fin_ratio_dir, fl_ratio))
        # drop cols with all NaNs
        this_df_ratio = this_df_ratio.dropna(axis=1, how='all')

        # this_df_ratio_copy = this_df_ratio.copy()
        # this_df_ratio_copy.columns = [col + "_" + fl_ratio.split(" ")[-1].split(".")[0] + '_ratio' if col != 'Company' else col for col in this_df_ratio.columns]
        
        this_df_ratio["year"] = fl_ratio.split(" ")[-1].split(".")[0]

        if df_ratio.empty:
            df_ratio = this_df_ratio
        else:
            # df_ratio = df_ratio.merge(this_df_ratio_copy, on='Company', how='outer')
            df_ratio = pd.concat([df_ratio, this_df_ratio], axis=0)
print(df_ratio.shape)
df_ratio.head()

(10788, 39)

,Company,Custom-Return,CFFToRev,CFIToRev,ROA,ROE,PayoutRatio,NPMargin,NPMarginMRQ,GPMargin,...,CFOToRev,CFOToDebt,FCFFToRev,FCFFToNI,FCFEToRev,FCFEToNI,CAPEXToRev,CAPEXToNI,DivYield,year
0,سرمایه گذاری تامین اجتماعی,-,-0.0039,-0.0002,0.1264,0.135,0.6154,0.9468,0.4242,-,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1392
1,س. توسعه و عمران استان کرمان,8.118823,0.2275,-0.0071,0.0028,0.0029,1.0692,0.5624,-,-,...,0.7301,0.3517,0.7232,1.2859,0.1061,0.0514,0.0069,0.0123,0.0064,1392
2,گ.س.وت.ص.پتروشیمی خلیج فارس,2.105118,-0.0907,0.5496,0.079,0.0871,0.1042,1.0342,0.8012,-,...,-0.2619,-0.2144,-0.2628,-0.2541,0.82,0.838,0.0009,0.0009,0.0083,1392
3,گسترش‌سرمایه‌گذاری‌ایران‌خودرو,2.513988,-0.0421,-0.0097,0.0284,0.0309,0.1018,0.67,0.739,-,...,0.3453,0.1779,0.3355,0.5008,-0.139,-0.1429,0.0097,0.0145,0.0008,1392
4,فولاد شاهرود,-,0.1134,-0.0078,0.2861,0.4712,0.7401,0.1013,0.1864,0.1131,...,0.0286,0.2054,0.015,0.1478,0.002,0.0201,0.0155,0.1535,0.0438,1392

In [7]:
# profile = ProfileReport(df_ratio, title='Pandas Profiling Report')
# profile

In [8]:
# fig = px.scatter_matrix(df_ratio, dimensions=df_ratio.columns)
# fig.show()

In [9]:
# for fl_factor in os.listdir(fin_factors_dir):
#     if fl_factor.endswith('.xlsx'):
#         this_df_factors = pd.read_excel(os.path.join(fin_factors_dir, fl_factor))
#         # drop cols with all NaNs
#         this_df_factors = this_df_factors.dropna(axis=1, how='all')
#         this_df_factors.columns = [col + "_" + fl_factor.split(" ")[-1].split(".")[0] + '_factor' if col != 'Company' else col for col in this_df_factors.columns]
#         if df_factors.empty:
#             df_factors = this_df_factors
#         else:
#             # print(fl_factor)
#             try:
#                 df_factors = pd.merge(df_factors, this_df_factors, on='Company')
#             except Exception as e:
#                 # print(e)
#                 print(fl_factor)
# df_factors.shape

In [10]:
# # print Company col values repeated  more than 1
# # df_ratio[df_ratio['Company'].duplicated(keep=False)]
# # drop rows 
# df_factors.drop_duplicates(subset=['Company'], keep=False, inplace=True)
# print(df_factors.shape)

In [11]:
for fl_factor in os.listdir(fin_factors_dir):
    if fl_factor.endswith('.xlsx'):
        this_df_factors = pd.read_excel(os.path.join(fin_factors_dir, fl_factor))
        # drop last 2 cols
        this_df_ratio = this_df_ratio.iloc[:, :-2]
        # drop cols with all NaNs
        this_df_factors = this_df_factors.dropna(axis=1, how='all')
        this_df_factors.drop('Unnamed: 32', axis=1, inplace=True)

        # this_df_factors_copy = this_df_factors.copy()
        # this_df_factors_copy.columns = [col + "_" + fl_factor.split(" ")[-1].split(".")[0] + '_factor' if col != 'Company' else col for col in this_df_factors.columns]

        this_df_factors["year"] = fl_factor.split(" ")[-1].split(".")[0]

        if df_factors.empty:
            df_factors = this_df_factors
        else:
            # df_factors = pd.merge(df_factors, this_df_factors_copy, on='Company')
            df_factors = pd.concat([df_factors, this_df_factors], axis=0)
print(df_factors.shape)
df_factors.head()

(10788, 32)

,Company,Custom-Return,EPS_MRQ_LC,EPS_TTM,EPS_MRQ,EPS_FY,Rev_TTM,Rev_MRQ,Rev_FY,NI_TTM,...,TL_MRQ,TL_FY,TSE_MRQ,TSE_FY,RE_MRQ,RE_FY,FE_TTM,FE_MRQ,FE_FY,year
0,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,123150684000000,57374675000000,1772130250000000,1995942460000000,24375426000000,253693287000000,16527967000000,8066030000000,11197821000000,1393
1,بیمه آسیا,-0.05765,89.405,187,89,187,91554590000000,23388113000000,84103840000000,5797881000000,...,227605168000000,227605168000000,40250266000000,40250266000000,5482732000000,5482732000000,-,-,-,1393
2,س. توسعه و عمران استان کرمان,-0.135162,-2.4292,3,-2,5,231712000000,-66270000000,340956000000,130311000000,...,591139000000,495451000000,45327298000000,45731823000000,2369800000000,2767290000000,-,-,-,1393
3,گ.س.وت.ص.پتروشیمی خلیج فارس,-0.237392,1.6083,122,2,192,11753719000000,200735000000,12577269000000,12156020000000,...,15432954000000,13233443000000,143664923000000,138744846000000,10704919000000,5144844000000,1119950000000,-,1348725000000,1393
4,بانک دی,0.364498,-39.5982,-324,-40,-324,-26501483000000,-1100991000000,-26501483000000,-43708725000000,...,630328706000000,630328706000000,45236285000000,45236285000000,-172995537000000,-172995537000000,8227143000000,1383270000000,8227143000000,1393

In [12]:
# profile = ProfileReport(df_factors, title='Pandas Profiling Report')
# profile

In [13]:
# fig = px.scatter_matrix(df_factors, dimensions=df_factors.columns)
# fig.show()

In [14]:
print(df_factors.shape)
print(df_ratio.shape)
# join df_factors, df_ratio on Company column
df = pd.merge(df_factors, df_ratio, on='Company')
print(df.shape)
df.head()

(10788, 32)
(10788, 39)
(129744, 70)

,Company,Custom-Return_x,EPS_MRQ_LC,EPS_TTM,EPS_MRQ,EPS_FY,Rev_TTM,Rev_MRQ,Rev_FY,NI_TTM,...,CFOToRev,CFOToDebt,FCFFToRev,FCFFToNI,FCFEToRev,FCFEToNI,CAPEXToRev,CAPEXToNI,DivYield,year_y
0,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1392
1,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1400
2,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1395
3,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1390
4,سرمایه گذاری تامین اجتماعی,-,-5.0367,126,-5,130,223641354000000,-,222761736000000,206522566000000,...,0.6701,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1393

In [15]:
y_1 = [
    'بانک دی',
    'بانک  آینده',
    'پارس خودرو',
    'سایپا',
    'ایران‌ خودرو',
    'ذوب آهن اصفهان',
    'تولیدتجهیزات‌سنگین‌هپکو',
    'بانک شهر',
    'پتروشیمی آبادان',
    'لیزینگ ایران',
    'پلی اکریل ایران',
    'بسته‌ بندی‌ ایران‌',
    'اعتباری ملل',
    'کشتیرانی جمهوری اسلامی ایران',
    'تولید برق ماهتاب کهنوج',
    'آذریت‌',
    'شرکت فارسیت اهواز',
    'کارخانجات‌مخابراتی‌ایران‌',
    'مهندسی مرآت پولاد',
    'کشتیرانی آریا',
    'ایران ارقام',
    'بانک ایران زمین',
    'قند شیروان قوچان و بجنورد',
    'شرکت عمران و سازندگی قزوین',
    'کنترل ‌خوردگی ‌تکین ‌کوی',
    'بازرگانی آینده سازان بهشت پارس',
    'پرسپولیس',
    'کارخانه فارسیت درود',
    'کارخانه های صنعتی آزمایش',
    'تولیدی گرانیت بهسرام',
    'س.توسعه و عمران استان اردبیل',
    'سایپا دیزل',
    'کف',
    'نورد و لوله اهواز',
    'س. چشم انداز توسعه شمال',
    'بانک سرمایه',
    'تولی‌پرس‌',
    'صنایع سرام آرا',
    'سرمایه گذاری توسعه عمران زاگرس',
    'پرمیت‌',
    'گسترش صنایع انرژی آذرآب',
    'توسعه س. کشاورزی آرین توسکا',
    'لوله‌وتجهیزات‌ سدید - ورشکسته',
    'تولیدی و صنعتی آبگینه‌',
    'بسته‌ بندی‌ پارس',
    'کیوان',
    'کارتن‌ مشهد',
    'ماشین‌آلات صنعتی تراکتورسازی‌',
    'لیزینگ رازی',
    'سولیران‌',
    'اعتباری توسعه',
    'شرکت فروشگاه زنجیره ای دیاکو',
    'بیمه سینا',
    'صنایع کاشی اصفهان',
    'کاشی نیلو',
    'کولاک‌ شرق‌',
    'شرکت سیمان خرم آباد',
    'اعتباری کاسپین',
    'کاشی و سرامیک نگار گستر جلگه',
    'چینی ایران',
]

# create a y col if Company is in y_1 set to 1 else 0
df['y'] = df['Company'].apply(lambda x: 1 if x in y_1 else 0)
print(df[df['y'] >= .5].shape)
print(df[df['y'] < .5].shape)

# print unique companies with y >= .5
print(df[df['y'] >= .5]['Company'].unique().shape)

(8640, 71)
(121104, 71)
(60,)

In [16]:
# all cols to float but Company
cols = df.columns.drop('Company')
df = df.astype({'Company': 'category'})
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')

In [17]:
# # sort df by Company
# df = df.sort_values(by=['Company'])
# df.head()

In [18]:
# save df on disk
# df.to_csv('data.csv', index=False)

In [19]:
# drop Company col
# df.drop('Company', axis=1, inplace=True)
print(df.shape)

(129744, 71)

In [20]:
# # create a y column RE_FY / TSE_FY > .5 = 1 else 0
# df['y'] = np.where(df['RE_FY'] / df['TSE_FY'] > .5, 1, 0)
# print(df[df['y'] >= .5].shape)
# print(df[df['y'] < .5].shape)

# # print unique companies with y >= .5
# print(df[df['y'] >= .5]['Company'].unique().shape)

In [23]:
# rename year_y to year
df = df.rename(columns={'year_y': 'year'})

In [24]:
print(df.shape)
df.head()

(129744, 71)

,Company,Custom-Return_x,EPS_MRQ_LC,EPS_TTM,EPS_MRQ,EPS_FY,Rev_TTM,Rev_MRQ,Rev_FY,NI_TTM,...,CFOToDebt,FCFFToRev,FCFFToNI,FCFEToRev,FCFEToNI,CAPEXToRev,CAPEXToNI,DivYield,year,y
0,سرمایه گذاری تامین اجتماعی,NaN,-5.0367,126.0,-5.0,130.0,2.236414e+14,NaN,2.227617e+14,2.065226e+14,...,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1392,0
1,سرمایه گذاری تامین اجتماعی,NaN,-5.0367,126.0,-5.0,130.0,2.236414e+14,NaN,2.227617e+14,2.065226e+14,...,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1400,0
2,سرمایه گذاری تامین اجتماعی,NaN,-5.0367,126.0,-5.0,130.0,2.236414e+14,NaN,2.227617e+14,2.065226e+14,...,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1395,0
3,سرمایه گذاری تامین اجتماعی,NaN,-5.0367,126.0,-5.0,130.0,2.236414e+14,NaN,2.227617e+14,2.065226e+14,...,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1390,0
4,سرمایه گذاری تامین اجتماعی,NaN,-5.0367,126.0,-5.0,130.0,2.236414e+14,NaN,2.227617e+14,2.065226e+14,...,1.4076,0.6699,0.7075,1.5083,1.7038,0.0002,0.0002,0.1038,1393,0

In [22]:
# save df on disk
df.to_csv('data.csv', index=False)